/*------------------------------------
    Colors Styles
------------------------------------- */
	
@font-face {
    font-family: BaronNeue;
    src: url("../fonts/Baron Neue Black.otf");
}

$title : #1a2631;
$text : #787878;

/* ------------------------------------
  Section Header Styles
------------------------------------- */
.l-home {
	background-color: #F3F3F3;
	padding: 35px;
}

.b-header--bgc {
	background-image: url("../images/b-header--bgc.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 1010px;
	margin-bottom: 35px;
}

.l-header__logo {
	margin: 25px 23px;
}

.l-header__nav {
	float: right;
	margin: 25px 23px;
}
/* ------------------------------------
  Section About Styles
------------------------------------- */
.b-about {
	background-color: #FFF;	
	margin-bottom: 36px;
}

.l-about__content {
	padding-bottom: 133px;	
	padding-top: 133px;
}

.b-about__image {
	margin-left: 10px;
	max-width: 678px;
	width: 100%;
}

.l-about__title {
	margin-left: 34px;
	margin-top: 36px;
}

.b-about__title {
	color: $title;
	font-family: "BaronNeue", sans-serif;
	font-weight: bold;
	letter-spacing: 1.8px;
	font-size: 45px;
	margin-top: 0;
}

.b-about__content {
	color: $text;
	font-family: "Aria", sans-sans-serif;
	font-size: 15px;
	letter-spacing: 1.8px;
	line-height: 1.54;
	text-align: left;
	margin-top: 36px;
	//margin-left: 8px;
}

.b-about__link {
	color: $title;
	display: inline-block;
	font-family: "BaronNeue", sans-serif;
	font-size: 13px;
	margin-top: 20px;
	text-align: left;
	letter-spacing: 1.8px;
	transition: all .3s ease;	
}

/* ------------------------------------
  Section Works Styles
------------------------------------- */
.b-works {
	background-color: #FFF;	
	margin-bottom: 36px;
	&__title {
		font-size: 38px;
		color: $title;
		text-align: center;
		font-family: "BaronNeue", sans-serif;
		letter-spacing: 1.8px;
		margin: 2px 0 34px 20px;
	// margin-left: 20px;
	}
}

.l-works {
	padding-top: 110px;
	padding-bottom: 110px;
}

// .b-work__title {
// 	font-size: 38px;
// 	color: $title;
// 	text-align: center;
// 	font-family: "BaronNeue", sans-serif;
// 	letter-spacing: 1.8px;
// 	margin: 2px 0 34px 20px;
// 	// margin-left: 20px;

// }

.b-works__tabs{
	list-style-type: none;
	margin-left: 48px;
	li {
		display: inline-block;
		padding: 10px;
		button {
			font-size: 12px;
			font-family: "BaronNeue", sans-serif;
			color: $title;
			letter-spacing: 1.8px;
			transition: all .3s ease;
			&:hover {
				position: relative;
				&:before {
					position: absolute;
					content: '';
					width: 100%;
					bottom: -8px;
					left: 0;
					height: 2px;
					background: $title;
				}
			}
			&:focus {
				outline: none;
			}
			&.active {
				position: relative;
				&:before {
					position: absolute;
					content: '';
					width: 100%;
					bottom: -8px;
					left: 0;
					height: 2px;
					background: $title;
				}
				&:focus {
					outline: none;
				}
			}
		}
	}
}

#container .mix{
	display: none;
}

.container {
	//margin-left: -50px;
	margin-top: 20px;
	margin-left: 10px;
}

.b-works__img {
	&:nth-child(1), &:nth-child(4), &:nth-child(7){
		margin-left: 0px;
	};
	&:nth-child(3), &:nth-child(6) ,&:nth-child(8){
		margin-right: 0;
	}
	&:nth-child(4) {
		margin-top: -110px;
	}
	&:nth-child(5) {
		margin-top: -132px;
	}
	&:nth-child(6) {
		margin-top: 24px;
	}
	&:nth-child(7) {
		margin-top: -364px;
	}
	&:nth-child(8) {
		margin-top: -346px;
	}
	vertical-align: top;
	margin-right: 12px;
	margin-left: 12px;
}

/* ------------------------------------
  Section Development Styles
------------------------------------- */
.b-development {
	background-color: #FFF;	
	margin-bottom: 36px;
	&--bgc {
		background-image: url("../images/b-development__img.jpg");
		background-repeat: no-repeat;
		background-size: 925px 800px;
		//background-position: center;
		height: 800px;
	}
	&__title {
		font-family: "BaronNeue", sans-serif;
		font-size: 14px;
		letter-spacing: 1.8px;
		color: $title;
		margin-top: 18px;
		text-align: center;
		margin-right: 16px;
		margin-bottom: 76px;
		// margin-left: px;
	}
	&__img {
		height: 76px;
		margin-right: 16px;
		// margin-left: px;
	}
	&__left {
		position: absolute;
		text-align: center;
		left: -14px;
	}
	&__right {
		text-align: center; 	
		position: absolute;
		right: -62px;
	}
}

.l-development {
	padding-top: 154px;
	position: relative;
}



/* ------------------------------------
  Section Skills Styles
------------------------------------- */
.b-skills {
	background-color: #FFF;	
	margin-bottom: 36px;
	&__title {
		font-family: "BaronNeue", sans-serif;
		font-size: 45px;	
		color: $title;
		letter-spacing: 1.8px;
		text-align: center;
		margin-top: 12px;
		margin-left: 10px;
		margin-bottom: 58px;
	}
	&__line {
		text-align: left;
		font-family: "BaronNeue", sans-serif;
		font-size: 14px;
		margin-left: 10px;
		margin-bottom: 22px;
		color: $title;	
		letter-spacing: 1.8px;
	}
}

.l-skills {
	padding-top: 110px;
	padding-bottom: 74px;
}

// .b-skills__title {
// 	font-family: "BaronNeue", sans-serif;
// 	font-size: 45px;	
// 	color: $title;
// 	letter-spacing: 1.8px;
// 	text-align: center;
// 	margin-top: 12px;
// 	margin-left: 10px;
// 	margin-bottom: 58px;
// }

// .b-skills__line {
// 	text-align: left;
// 	font-family: "BaronNeue", sans-serif;
// 	font-size: 14px;
// 	margin-left: 10px;
// 	margin-bottom: 22px;
// 	color: $title;	
// 	letter-spacing: 1.8px;

// }

dl {
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 100%;
  max-width: 1270px;
  position: relative;
  //padding: 20px;

}

dt {
  align-self: flex-start;
  width: 100%;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
  //margin-left: 130px;
}

.text {
	align-items: center;
	background-color: transparent;
	color: #FFF;
	display: flex;
	font-family: "BaronNeue", sans-serif;
	font-size: 14px;
	font-weight: 600;
	height: 36px;
	justify-content: flex-end;
	letter-spacing: 1.8px;
	//margin-right: -4px;
	margin-top: 2px;
	position: absolute;
	width: 50px;
	z-index: 5;
}

.percentage {
	font-size: .8em;
	line-height: 1;
	text-transform: uppercase;
	width: 100%;
	height: 36px;
	margin-bottom: 50px;
	background-color: #f3f3f3;
	margin-left: 10px;
	// background: repeating-linear-gradient(
	// 	to right,
	// 	#ddd,
	// 	#ddd 1px,
	// 	#fff 1px,
	// 	#fff 5%
	// 	);

	&:after {
		content: "";
		display: block;
		background-color: #000;
		width: 50px;
		margin-bottom: 10px;
		height: 36px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		transition: background-color .3s ease;
		cursor: pointer;
	}
	&:hover,
	&:focus {
		&:after {
			background-color: $title; 
		}
	}
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
    .text-#{$i} {
    	$value: ($i * 1%);
    	right: 100% - $value;
    }
  }

}

/* ------------------------------------
  Section Description Styles
------------------------------------- */

.l-description{
	padding-top: 132px;
	padding-bottom: 168px;
	&__content {
		margin-top: 50px;
	}
}

.b-description{
	&__iphone5s {
		margin-left: 10px;
	}
	&__icon {
		margin-left: 66px;
		margin-top: 26px;
		&--right {
			margin-left: -4px;
			//margin-right: 98px;
		}
	}
	&__title {
		font-size: 14px;
		color: $title;
		margin-top: 26px;
		font-family: "BaronNeue", sans-serif;
		margin-left: 26px;
		letter-spacing: 1.8px;
		margin-bottom: 4px;
		&--right {
			text-align: right;
		}
	}
	&__content {
		font-size: 15px;
		font-family: "Aria", sans-serif;
		margin-left: 26px;
		margin-right: 10px;
		letter-spacing: 2px;
		line-height: 1.5;
		&--right {
			text-align: right;
			margin-right: 0;
			margin-left: 60px;
		}
	}
}

/* ------------------------------------
    Section News Styles
-------------------------------------*/

.b-news {
	background: #fff;
	padding-top: 96px;
	padding-bottom: 128px;
	margin-bottom: 34px;
	img {
		margin-bottom: 16px;
	}

	&__title {
		font-family: "BaronNeue", sans-serif;
		font-size: 45px;	
		color: $title;
		letter-spacing: 1.8px;
		text-align: center;
		margin: 28px 0 58px 14px;
		&--blog {
			font-size: 14px;
			text-align: left;
			margin: 12px 0 0 0;
		}
	}

	&__info {
		font-family: "Arial", sans-serif;
		font-size: 13px;
		color: #6c6c6c;
		letter-spacing: 1.8px;
		position: relative;
		letter-spacing: 1.8px;
		&:before {
			content: '';
			background-repeat: no-repeat;
			height: 18px;
			position: absolute;
			width: 100%;
			left: -20px;
			top: 0;
		}
		&--author {
			margin-left: 20px;
			&:before {
				background-image: url(../images/b-news__pencil.png);
			}
		}
		&--date {
			margin-left: 54px;
			&:before {
				background-image: url(../images/b-news__calendar.png);
			}
		}
	}
	&__content {
		font-size: 14px;
		font-family: "Arial", sans-serif;
		color: #6c6c6c;
		letter-spacing: 1.8px;
	}
	&__link {
		font-family: "BaronNeue", sans-serif;
		font-size: 13px;
		color: #6c6c6c;
		letter-spacing: 1.8px;
		margin-top: 8px;
		display: inline-block;
		margin-top: 14px;
	}
	// &__author {
	// 	font-family: "Arial", sans-serif;
	// 	font-size: 13px;
	// 	color: #6c6c6c;
	// 	letter-spacing: 1.8px;
	// 	margin-left: 20px;
	// 	position: relative;
	// 	&:before {
	//  		content: '';
	//     position: absolute;
	//     top: 0px;
	//     left: -20px;
	//     background-image: url(../images/b-news__pencil.png);
	//     height: 18px;
	//     background-repeat: no-repeat;
	//     width: 100%;
	// 	}
	// }
	// &__date {
	// 	font-family: "Arial", sans-serif;
	// 	font-size: 13px;
	// 	color: #6c6c6c;
	// 	letter-spacing: 1.8px;
	// 	margin-left: 54px;
	// 	position: relative;
	// 	&:before {
	// 		content: '';
	// 		position: absolute;
	// 		top: 0px;
	// 		left: -20px;
	// 		background-image: url(../images/b-news__calendar.png);
	// 		height: 18px;
	// 		background-repeat: no-repeat;
	// 		width: 100%;
	// 	}
	// }
}

.l-news {
	&--left {
		padding-left: 10px;
	}
}

/* ------------------------------------
    Section Quote Styles
-------------------------------------*/

.b-quote {
	height: 800px;
	//margin-top: 34px;
	&--bgc {
		background-image: url(../images/b-quote__img0.jpg);
		background-position: right;
		background-repeat: no-repeat;
	}
}

/* ------------------------------------
    Footer Styles
-------------------------------------*/

/* ------------------------------------
    Slick Slider Styles
-------------------------------------*/