/*------------------------------------
    Colors && Fonts Styles
------------------------------------- */

@font-face {
    font-family: BaronNeue;
    src: url("../fonts/Baron Neue Black.otf");
}

$title : #1a2631;
$text : #787878;

/* ------------------------------------
  Section Header Styles
------------------------------------- */

.l-home {
	background-color: #F3F3F3;
	padding: 35px;
}

.b-header {
	transition: all .3s ease-in-out;

	&--bgc {
		background-image: url("../images/b-header--bgc.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 1010px;
		margin-bottom: 35px;

	}
}

.l-header{

	&--logo {
		margin: 25px 23px;
	}

	&--nav {
		float: right;
		margin: 25px 23px;
	}

}

/* ------------------------------------
  Section About Styles
------------------------------------- */

.b-about {
	background-color: #FFF;	
	margin-bottom: 36px;
	transition: all .3s ease-in-out;

	&__image {
		margin-left: 10px;
		max-width: 678px;
		width: 100%;
	}

	&__title {
		color: $title;
		font-family: "BaronNeue", sans-serif;
		font-weight: bold;
		letter-spacing: 1.8px;
		font-size: 45px;
		margin-top: 0;
		text-align: left;
	}

	&__content {
		color: $text;
		font-family: "Aria", sans-serif;
		font-size: 15px;
		letter-spacing: 1.8px;
		line-height: 1.54;
		text-align: left;
		margin-top: 36px;
  }

  &__link {
  	color: $title;
  	display: inline-block;
  	font-family: "BaronNeue", sans-serif;
  	font-size: 13px;
  	margin-top: 20px;
  	text-align: left;
  	letter-spacing: 1.8px;
  	transition: all .3s ease;	
  }

}

.l-about {
	&--content {
		padding-bottom: 133px;	
		padding-top: 133px;
	}
	&--title {
		margin-left: 34px;
		margin-top: 40px
	}
}

/* ------------------------------------
  Section Works Styles
------------------------------------- */

.l-works {
	padding-bottom: 120px;
	padding-top: 120px;
}

.b-works {
	background-color: #FFF;	
	margin-bottom: 50px;
	transition: all .3s ease-in-out;

	&__title {
		color: $title;
		font-family: "BaronNeue", sans-serif;
		font-size: 38px;
		letter-spacing: 1.8px;
		margin: 0px 0 24px 20px;
		text-align: center;
	}

	&__sizer {
		width: 33%;
	}

	&__img {
		width: 33%;
		float: left;
		img {
			display: block;
			max-width: 100%; 
		}
	}

	&__tabs{
		list-style-type: none;
		margin-left: 48px;
		li {
			display: inline-block;
			padding: 10px;
			button {
				color: $title;
				font-family: "BaronNeue", sans-serif;
				font-size: 12px;
				letter-spacing: 1.8px;
				transition: all .3s ease;
				&:hover {
					position: relative;
					&:before {
						background: $title;
						bottom: -8px;
						content: '';
						height: 2px;
						left: 0;
						position: absolute;
						width: 100%;
					}
				}
				&:focus {
					outline: none;
				}
				&.active {
					position: relative;
					&:before {
						background: $title;
						bottom: -8px;
						content: '';
						height: 2px;
						left: 0;
						position: absolute;
						width: 100%;
					}
					&:focus {
						outline: none;
					}
				}
			}
		}
	}

	/* ---- .grid-item ---- */

	.grid {
		margin-top: 10px;
	}

	.grid-sizer,
	.grid-item {
		width: 33.333%;
	}

	.grid-item {
		float: left;
	}

	.grid-item img {
		display: block;
		max-width: 100%;
		margin: 10px;
	}

}

/* ------------------------------------
  Section Development Styles
------------------------------------- */

.b-development {
	background-color: #FFF;	
	margin-bottom: 36px;
	transition: all 0.3s ease-in-out;
	&--bgc {
		background-image: url("../images/b-development__img.jpg");
		background-position: center left;
		background-repeat: no-repeat;
		background-size: 925px 800px;
		height: 800px;
	}
	&__title {
		color: $title;
		font-family: "BaronNeue", sans-serif;
		font-size: 14px;
		letter-spacing: 1.8px;
		margin-bottom: 76px;
		margin-right: 16px;
		margin-top: 18px;
		text-align: center;
	}
	&__img {
		height: 76px;
		margin-right: 16px;
	}
	&__left {
		left: -14px;
		position: absolute;
		text-align: center;
	}
	&__right {
		position: absolute;
		right: -62px;
		text-align: center; 	
	}
}

.l-development {
	padding-top: 154px;
	position: relative;
}

/* ------------------------------------
  Section Skills Styles
------------------------------------- */

.b-skills {
	background-color: #FFF;	
	margin-bottom: 36px;
	transition: all .3s ease-in-out;
	&__title {
		color: $title;
		font-family: "BaronNeue", sans-serif;
		font-size: 45px;	
		letter-spacing: 1.8px;
		margin-bottom: 64px;
		margin-left: 10px;
		margin-top: 12px;
		text-align: center;
	}

	&__line {
		color: $title;	
		font-family: "BaronNeue", sans-serif;
		font-size: 14px;
		letter-spacing: 1.8px;
		margin-bottom: 24px;
		margin-left: 10px;
		text-align: left;
	}

	&__progressBar {
	  background-color: white;
	  max-width: 1270px;
	  transition: all .3s ease-in-out;
	  width: 100%;
		.progress {
			margin-left: 10px;
			.progress-meter {
				color: #FFF;
				.value {
					display: inline-block;
					float: right;
					font-family: "BaronNeue", sans-serif;
					font-size: 14px;
					font-weight: 600;
					margin: 8px 16px 0 0;
				}
			}
		}
	}

}

.l-skills {
	padding-top: 96px;
	padding-bottom: 92px;
}

/* ------------------------------------
  Section Description Styles
------------------------------------- */

.l-description{
	padding-top: 132px;
	padding-bottom: 168px;
	&__content {
		margin-top: 50px;
	}
}

.b-description{
	&__iphone5s {
		margin-left: 10px;
	}
	&__icon {
		margin-left: 66px;
		margin-top: 26px;
		&--right {
			margin-left: -4px;
			//margin-right: 98px;
		}
	}
	&__title {
		font-size: 14px;
		color: $title;
		margin-top: 26px;
		font-family: "BaronNeue", sans-serif;
		margin-left: 26px;
		letter-spacing: 1.8px;
		margin-bottom: 4px;
		&--right {
			text-align: right;
		}
	}
	&__content {
		font-size: 15px;
		font-family: "Aria", sans-serif;
		margin-left: 26px;
		margin-right: 10px;
		letter-spacing: 2px;
		line-height: 1.5;
		&--right {
			text-align: right;
			margin-right: 0;
			margin-left: 60px;
		}
	}
}

/* ------------------------------------
    Section News Styles
-------------------------------------*/

.b-news {
	background: #fff;
	padding-top: 96px;
	padding-bottom: 122px;
	margin-bottom: 34px;
	transition: all .3s ease-in-out; 
	img {
		margin-bottom: 16px;
	}

	&__title {
		font-family: "BaronNeue", sans-serif;
		font-size: 45px;	
		color: $title;
		letter-spacing: 1.8px;
		text-align: center;
		margin: 14px 0 72px 14px;
		&--blog {
			font-size: 14px;
			text-align: left;
			margin: 12px 0 0 0;
		}
	}

	&__info {
		font-family: "Arial", sans-serif;
		font-size: 13px;
		color: #6c6c6c;
		letter-spacing: 1.8px;
		position: relative;
		letter-spacing: 1.8px;
		&:before {
			content: '';
			background-repeat: no-repeat;
			height: 18px;
			position: absolute;
			width: 100%;
			left: -20px;
			top: 0;
		}
		&--author {
			margin-left: 20px;
			&:before {
				background-image: url(../images/b-news__pencil.png);
			}
		}
		&--date {
			margin-left: 54px;
			&:before {
				background-image: url(../images/b-news__calendar.png);
			}
		}
	}
	&__content {
		font-size: 14px;
		font-family: "Arial", sans-serif;
		color: #6c6c6c;
		letter-spacing: 1.8px;
	}
	&__link {
		font-family: "BaronNeue", sans-serif;
		font-size: 13px;
		color: #6c6c6c;
		letter-spacing: 1.8px;
		margin-top: 8px;
		display: inline-block;
		margin-top: 14px;
	}
}

.l-news {
	&--left {
		padding-left: 10px;
	}
}

/* ------------------------------------
    Section Quote Styles
-------------------------------------*/

.b-quote {
	height: 800px;
	transition: all .3s ease-in-out;
	margin-bottom: 34px;

	&--bgc {
		background-image: url(../images/b-quote__img0.jpg);
		background-position: center right;
		background-repeat: no-repeat;
	}

	&__content {
		font-family: "Aria", sans-serif;
		font-size: 21px;
		text-align: center;
		letter-spacing: 1.8px;
		font-weight: bold;
		color: $title;
		padding-top: 100px;
		margin-right: 4px;
		margin-left: 4px;
		position: relative;
		line-height: 1.8;
		&:before {
			content: '';
			background-image: url(../images/b-quote__icon0.png);
			background-repeat: no-repeat;
			height: 18px;
			position: absolute;
			width: 100%;
			left: 46%;
			top: 0;
		}
	}
}

#js-slider {
	.slick-dots {
		margin: 40px 0 0 -10px;
		bottom: -95px;
		li {
			width: 2px;
			height: 2px;
			margin: 0 20px;
			button {
				background-color: #dddddd;
				width: 2px;
				height: 2px;
				padding: 4px;
				&:before {
					content: '';
				}
			}
		} 
		li.slick-active {
			button {
				background-color: #000;
				width: 2px;
				height: 2px;
			}
		}
	}
	margin-top: 224px;
}

/* ------------------------------------
    Section Contact Styles
-------------------------------------*/

.b-contact {
	background-color: #fff;
	margin-bottom: 24px;
	padding-bottom: 132px;
	padding-top: 110px;

	&__title {
		color: $title;
		font-family: "BaronNeue", sans-serif;
		font-size: 45px;	
		letter-spacing: 1.8px;
		margin-bottom: 114px;
		margin-left: 12px;
		text-align: center;
	}

	form {
		margin-left: 20px;
		[type=text], [type=email] {
			color: #c0c0c0;
			font-family: "BaronNeue", sans-serif;
			height: 66px;
			letter-spacing: 1.8px;
			margin-bottom: 34px;
			padding: 28px 16px 24px 28px;
		}

		textarea {
			color: #c0c0c0;
			font-family: "BaronNeue", sans-serif;
			height: 368px;
			letter-spacing: 1.8px;
			margin-bottom: 26px;
			padding: 24px 16px 24px 28px;
		}

		.button {
			background-color: transparent;
			color: #c0c0c0;
			font-family: "BaronNeue", sans-serif;
			font-size: 14px;
			letter-spacing: 1.8px;
			margin-left: 16px;
		}

	}
}

/* ------------------------------------
    Footer Styles
-------------------------------------*/

.b-footer {
	background-color: #fff;
	padding-bottom: 26px;
	padding-top: 46px;

	&__social {
		margin-bottom: 30px;
		margin-left: 60px;
	}

	&__link{
		position: relative;
		&:before {
			background-repeat: no-repeat;
			content: '';
			height: 18px;
			left: 0px;
			position: absolute;
			top: 0;
			width: 18px;
		}

		&--twitter{
			&:before {
				background-image: url(../images/b-footer__twitter.png);
				top: 6px;
			}
		}

		&--facebook{
			&:before {
				background-image: url(../images/b-footer__facebook.png);
				top: 6px;
				left:32px;
			}
		}

		&--behance{
			&:before {
				background-image: url(../images/b-footer__behance.png);
				top: 6px;
				left:64px;
			}
		}	

	}

	&__copyright {
		font-family: "Arial", sans-serif;
		font-size: 15px;
		letter-spacing: 1.8px;
		margin-left: 60px;
	}

	&__imgUp {
		float: right;
		cursor: pointer;
		margin-top: 10px;
		margin-right: 42px;
	}

}