/*------------------------------------
    Colors Styles
------------------------------------- */
	
@font-face {
    font-family: BaronNeue;
    src: url("../fonts/Baron Neue Black.otf");
}

$title : #1a2631;
$text : #787878;

/* ------------------------------------
  Section Header Styles
------------------------------------- */
.l-home {
	background-color: #F3F3F3;
	padding: 35px;
}

.b-header--bgc {
	background-image: url("../images/b-header--bgc.jpg");
	background-repeat: no-repeat;
	background-size: container;
	height: 1010px;
	margin-bottom: 35px;
}

.l-header__logo {
	margin: 25px 23px;
}

.l-header__nav {
	float: right;
	margin: 25px 23px;
}
/* ------------------------------------
  Section About Styles
------------------------------------- */
.b-about {
	background-color: #FFF;	
	margin-bottom: 36px;
}

.l-about__content {
	padding-bottom: 133px;	
	padding-top: 133px;
}

.b-about__image {
	//margin-left: 4px;
	max-width: 678px;
	width: 100%;
}

.l-about__title {
	margin-left: 28px;
	margin-top: 36px;
}

.b-about__title {
	color: $title;
	font-family: "BaronNeue", sans-serif;
	font-weight: bold;
	letter-spacing: 1.8px;
	font-size: 45px;
	margin-top: 0;
}

.b-about__content {
	color: $text;
	font-family: "Aria", sans-serif;
	font-size: 15px;
	letter-spacing: 1.6px;
	line-height: 1.54;
	text-align: justify;
	margin-top: 36px;
}

.b-about__link {
	color: $title;
	display: inline-block;
	font-family: "BaronNeue", serif;
	font-size: 13px;
	margin-top: 16px;
	text-align: left;
	letter-spacing: 1.8px;
	transition: all .3s ease;	
}

/* ------------------------------------
  Section Works Styles
------------------------------------- */
.b-works {
	background-color: #FFF;	
	margin-bottom: 36px;
}

/* ------------------------------------
    Footer Styles
-------------------------------------*/

/* ------------------------------------
    Slick Slider Styles
-------------------------------------*/