@media (min-width: 768px) {
  .navbar {
    border: none; }
  .navbar-collapse {
    padding: 0; }
  .navbar-nav {
    float: right; }
  .navbar-default {
    background-image: none;
    box-shadow: none; }
  .l-headerInfo {
    padding: 0; } }
